
@{
    ViewData["Title"] = "SISE";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Total</span>
                        <h5>Total</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.totalGeneral.total</h1>
                        <div class="stat-percent font-bold text-success"><i class="fa fa-group"></i></div>
                        <small>Total mensual</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Diario</span>
                        <h5>Hombres</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.totalHombre.totalHombre</h1>
                        <div class="stat-percent font-bold text-info"><i class="fa fa-male"></i></div>
                        <small>Total hombres</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Diario</span>
                        <h5>Mujeres</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.totalMujer.totalMujer</h1>
                        <div class="stat-percent font-bold text-navy"><i class="fa fa-female"></i></div>
                        <small>Total mujeres</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">Diario</span>
                        <h5>Positivos</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@ViewBag.totalPositivos.total</h1>
                        <div class="stat-percent font-bold text-danger"><i class="fa fa-flask"></i></div>
                        <small>Total positivos</small>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Grafica Avance Mensual <small> 2022 </small></h5>
                </div>
            </div>
            <div class="ibox-content">
                <div id="container_quimica" style="min-width: 310px; height: 300px; margin: 0 auto">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!-- JS -->
    <script src="~/scriptsHighcharts/highcharts.min.js"></script>
    <script src="~/scriptsHighcharts/exporting.min.js"></script>
    <script src="~/scriptsHighcharts/export-data.min.js"></script>
    <script src="~/scriptsHighcharts/data.min.js"></script>
    <script src="~/scriptsHighcharts/accessibility.min.js"></script>

    <script type="text/javascript">
        //-----------------------------------------------------------Grafica de avance mensual
        var myArray_avanceQuimica = [];
        var tri_avanceQuimica = [];

        @foreach (var item3 in @ViewBag.anual)
        {
            @:tri_avanceQuimica = ["@item3.mes",parseFloat(@item3.total), "@item3.mes" ];
            @:myArray_avanceQuimica.push(tri_avanceQuimica);
        }

        Highcharts.chart('container_quimica', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Evaluaciones mensuales'
            },
            subtitle: {
                text: 'Evaluaciones basadas en fecha de ingreso'
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Evaluaciones al mes'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> <br/>'
            },

            series: [
                {
                    name: "Evaluaciones",
                    colorByPoint: true,
                    data: myArray_avanceQuimica
                }
            ]
        });

    </script>

}