@model IEnumerable<MedToxMVC.Models.Consultas.OdontoModel>

@{
    ViewData["Title"] = "IndexOdontologia";
}

<div class="table-responsive">

    <table class="table table-striped table-bordered table-hover dataTables-example">

        <thead>

            <tr>

                <th>IDH</th>
                <th>EVALUADO</th>
                <th>FECHA</th>
                <th>DEPENDENCIA</th>
                <th>CODIGO</th>
                <th>FOLIO</th>
                <th>SEXO</th>
                <th>ACCION</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td style="vertical-align:middle;">@Html.DisplayFor(modelItem => item.idhistorico)</td>
                    <td style="vertical-align:middle;">@Html.DisplayFor(modelItem => item.evaluado)</td>
                    <td style="vertical-align:middle;">@Html.DisplayFor(modelItem => item.fechaAlta)</td>
                    <td style="vertical-align:middle;">@Html.DisplayFor(modelItem => item.dependencia)</td>
                    <td style="vertical-align:middle;">@Html.DisplayFor(modelItem => item.codigoevaluado)</td>
                    <td style="vertical-align:middle;">@Html.DisplayFor(modelItem => item.folio)</td>
                    <td style="vertical-align:middle;">@Html.DisplayFor(modelItem => item.sexo)</td>
                    <td style="vertical-align:middle; text-align:center;">
                        @if (item.hayOdo == 0)
                        {
                            @Html.ActionLink("Agregar", "AddUpdOdontologia", new { opcion = 1, idhistorico = item.idhistorico, fechaAceptacion = item.fechaAlta }, htmlAttributes: new { @class = "btn btn-block btn-outline btn-info btn-xs" })
                        }
                        else
                        {
                            <p>@Html.ActionLink("Editar", "AddUpdOdontologia", new { opcion = 2, idhistorico = item.idhistorico, fechaAceptacion = item.fechaAlta }, htmlAttributes: new { @class = "btn btn-block btn-outline btn-danger btn-xs" })</p>
                            <p><a class="popup btn btn-block btn-outline btn-success btn-xs" href="@Url.Action("HistoriaOdontologica","ImpresionOdontologia", new { idHistorico = item.idhistorico })" target="_blank"><i class="fa fa-print"></i></a></p>
                        }
                    </td>

                </tr>
            }

        </tbody>

    </table>

</div>

<div>

    @*<button type="button" class="btn btn-outline btn-success" onclick="@Url.Action("ListaEntregaDiaria","ImpresionOdontologia")">Entrega Diaria</button>*@
    <button type="button" class="btn btn-outline btn-success" onclick="location.href='@Url.Action("ListaEntregaDiaria","ImpresionOdontologia")'">Entrega Diaria</button>

</div>


@section scripts
{
    @*-- css --*@
    <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet" />

    @*-- js --*@

    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>

    <script language="javascript">

        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.dataTables-example').DataTable({
                pageLength: 50,
                responsive: true,
                "order": [[2, "desc"]],
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Nutricion' },
                    { extend: 'pdf', title: 'NutricionPdf' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });

    </script>

}